<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lihat Minuman</title>
  </head>
  <body>
    <h1 th:text="${inisial}"></h1>

    <div>DATA MINUMAN</div>
    <hr />
    <table border="1">
      <tr>
        <th>Nama</th>
        <th>Harga</th>
      </tr>
      <tr th:each="produk:${listminuman}"> <!--untuk penamaan baru listminuman yang diambil dari controller-->
        <td th:text="${produk[0]}"></td>
        <td th:text="${produk[1]}"></td>
      </tr>
    </table>
  </body>
</html>
